/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/vendor/statamic-peak-tools
/public/img/
/public/static/
/storage/*.key
/vendor
.env
.env.backup
/.phpunit.cache
.antlers.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.phpunit.cache

/database/database.sqlite

/public/build/# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
