{{# @name Header @desc The sites header rendered on each page. #}}

<!-- /layout/_header.antlers.html -->
<header>
    <div id="block-raptor-material-branding" style="background-color: #222">
        <div class="logo">
            <div class="background">
                <div class="column red"></div>
                <div class="column orange"></div>
                <div class="column yellow"></div>
                <div class="column green"></div>
                <div class="column blue"></div>
                <div class="column indigo"></div>
                <div class="column violet"></div>
            </div>
            <a href="/" title="Home" rel="home" class="logobox">
                <img src="/visuals/Logo 21 Wire.svg" alt="Home" />
            </a>
        </div>
        <h1 class="siteName">
            <div class="headerBackground"></div>
            <a href="/" title="Home" rel="home">Illini Metagamers</a>
        </h1>
    </div>
    <div class="span-content flex justify-center items-center p-6 fluid-grid">
        {{# Make partials you want to use for the header or use and edit premade
        examples like the following ones. #}} {{ partial:navigation/main }}
    </div>
</header>
<!-- End: /layout/_header.antlers.html -->
