.layout-container>header {
	background-size: cover;
	background-position-y: 0px;
	/* height: 245px; */
	/* min-height: 245px; */
}

.layout-container>header>div {
	display: flex;
	flex-direction: column;
	/* height: 245px; */
	/* min-height: 245px; */
}

#block-raptor-material-branding {
	flex: 1 0 auto;
	flex-direction: column;
	justify-content: center;
	display: flex;
	align-items: center;
	padding: 0 1em;
}

div#block-raptor-material-branding a {
	text-align: center;
	display: flex;
}

#block-raptor-material-main-menu {
	align-items: center;
}

#block-raptor-material-main-menu ul {
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 auto;
	max-width: 900px;
	text-align: center;
}

#block-raptor-material-main-menu ul li {
	display: block;
	list-style-type: none;
	/* line-height: 45px; */
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

/** HEADER **/

div#block-raptor-material-branding,
div#block-raptor-material-branding a {
	color: #fff;
	text-decoration: none;
}

div#block-raptor-material-branding a {
	font-size: 2.5em;
	letter-spacing: 0.02em;
	font-weight: 700;
	font-family: 'Quicksand', sans-serif;
}

.logo .background,
.logo .background .column,
h1.siteName a {
	transition: all .4s;
}

.logo {
	width: 12em;
	height: 12em;
	margin: 1em;
	border-radius: 50%;
	padding: 1em;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.logo .background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	/* background: chartreuse; */
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	transform: rotate(-30deg);
}

.logo .background .column {
	border: 1px green;
	/* width: 14.2%; */
	height: 100%;
	display: inline-block;
	flex: 1;
}

@media (any-hover: hover) {
	.logo .background .column:nth-child(2n) {
		transform: translateY(-105%);
		-webkit-transform: translateY(-105%);
		-ms-transform: translateY(-105%);
	}

	.logo .background .column:nth-child(2n+1) {
		transform: translateY(105%);
		-webkit-transform: translateY(105%);
		-ms-transform: translateY(105%);
	}
}

.logo .background .column.red {
	background-color: #db0f0f;
}

.logo .background .column.orange {
	background-color: #ffb710;
}

.logo .background .column.yellow {
	background-color: #f5d800;
}

.logo .background .column.green {
	background-color: #56d516;
}

.logo .background .column.blue {
	background-color: #139fb4;
}

.logo .background .column.indigo {
	background-color: #1251af;
}

.logo .background .column.violet {
	background-color: #5c12af;
}

.logo .logobox {
	z-index: 1;
}

h1.siteName {
	font-size: 1.5em;
	margin: 0 0 1em 0;
}

header h1.siteName a {
	color: transparent;
	-webkit-text-fill-color: transparent;
	background: #fff;
	background: linear-gradient(#fff, #fff);
	-webkit-background-clip: text;
}

/* Hover stuff */
@media (any-hover: hover) {
	header:hover .logo .background {
		transform: rotate(30deg);
	}

	header:hover .logo .background .column {
		transform: none;
		-webkit-transform: none;
		-ms-transform: none;
	}

	header:hover h1.siteName a {
		background: linear-gradient(to right,
				#db0f0f,
				#ffb710,
				#f5d800,
				#56d516,
				#139fb4,
				#1251af,
				#5c12af);
		-webkit-background-clip: text;
	}
}

@media (any-hover: none) {
	header .logo .background {
		transform: rotate(30deg);
	}

	header h1.siteName a {
		background: linear-gradient(to right,
				#db0f0f,
				#ffb710,
				#f5d800,
				#56d516,
				#139fb4,
				#1251af,
				#5c12af);
		-webkit-background-clip: text;
	}
}


#block-raptor-material-main-menu {
	background-color: #444;
	text-transform: uppercase;
}

#block-raptor-material-main-menu ul li a {
	color: #fafafa;
	text-decoration: none;
	font-size: .9em;
	opacity: .87;
	display: block;
	border-bottom: 3px solid transparent;
	line-height: 3em;
	flex: 1;
}

#block-raptor-material-main-menu ul.contextual-links li a {
	color: #333;
	text-transform: none;
	opacity: 1;
}

#block-raptor-material-main-menu ul li a.is-active {
	border-bottom-color: #ffffffbf;
}

#block-raptor-material-main-menu ul li a:hover,
#block-raptor-material-main-menu ul li a:focus {
	background-color: rgba(255, 255, 255, 0.2);
}