{{# @name Campaign List @desc Campaign List page builder block. @set
page.page_builder.campaign-list #}}

<!-- /page_builder/_campaign-list.antlers.html -->
{{ partial:page_builder/block }}
<div class="span-content">
    {{ collection:club_campaign_worlds year:is="2025" }}
    <h1>{{ title }}</h1>
    {{ shared_regions }}
    <h2>{{ title }}</h2>
        {{ campaign_in_region }}
            <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-8">
                <a href="#" class="block shrink-0">
                    
                    <img
                        alt=""
                        src={{ featured_image.url }}
                        class="size-20 rounded-lg object-cover"
                    />
                </a>
        
                <div>
                    <h3 class="font-medium sm:text-lg">
                        <a href="{{ url }}" class="hover:underline"> {{ title }} </a>
                    </h3>
        
                    <p class="line-clamp-2 text-sm text-gray-700">
                        {{ short_description }}
                    </p>
        
                    <div class="mt-2 sm:flex sm:items-center sm:gap-2">
                        <div class="flex items-center gap-1 text-gray-500">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="size-4"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                stroke-width="2"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"
                                />
                            </svg>
        
                            <p class="text-xs">14 comments</p>
                        </div>
        
                        <span class="hidden sm:block" aria-hidden="true">&middot;</span>
        
                        <p class="hidden sm:block sm:text-xs sm:text-gray-500">
                            Game mastered by {{ game_master }}
                        </p>
                    </div>
                </div>
            </div>
        {{ /campaign_in_region }}
    {{ /shared_regions }}

    {{ /collection:club_campaign_worlds }}
</div>

{{ /partial:page_builder/block }}
<!-- End: /page_builder/-campaign_list.antlers.html -->
