{{#
    @name Campaign List @desc Campaign List page builder block. @set
 page.page_builder.campaign-list
#}}

<!-- /page_builder/_campaign-list.antlers.html -->
{{ partial:page_builder/block }}
    <div class="span-content">
        {{ collection:club_campaign_worlds year:is="2025" }}
            {{ partial:typography/h2 content="{{ title }}" }}
            {{ shared_regions }}
                {{ partial:typography/h3 content="{{ title }}" }}
                {{ campaign_in_region }}
                    <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-8">
                        <a href="#" class="block shrink-0">

                            <img alt="" src={{ featured_image.url }} class="size-20 rounded-lg object-cover" />
                        </a>

                        <div>
                            <h3 class="font-medium sm:text-lg">
                                <a href="{{ url }}" class="hover:underline"> {{ title }} </a>
                            </h3>

                            <p class="line-clamp-2 text-sm text-gray-700">
                                {{ short_description }}
                            </p>

                            <div class="mt-2 sm:flex sm:items-center sm:gap-2">
                                <p class="block text-xs text-gray-500">
                                    Game mastered by {{ game_master }}
                                </p>
                            </div>
                        </div>
                    </div>
                {{ /campaign_in_region }}
            {{ /shared_regions }}
        {{ /collection:club_campaign_worlds }}
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/-campaign_list.antlers.html -->